.create-account {

    width: 500px;

}

.payment {
    border: 1px solid #C0C0C0;;
    padding: 1px;
    display: inline-block;
}

.create-account form {

}
.create-account h2 {
    font-size: 24px;
    font-weight: 600;
    color: white;
    padding-bottom: 3px;
    margin-bottom: 15px;
    padding-top: 20px;
}

.create-account ul {
    list-style-type: none;
    padding: 0px;
}

.create-account li {
    margin: 10px 0;
}

.inputfield {
    font-size: 15px;
    border: 1px solid #C0C0C0;
    background: #FFF;
    height: 30px;
    padding: 0 8px;
    width: 365px;
}

.create-account label {
    color: #636363;
    font-weight: 600;
    font-size: 13px;
}

.create-account label em {
    color: red;
}

.create-account.inputfield {
    font-size: 15px;
}

.create-account #firstname-validation, #lastname-validation,
#email-validation, #password-validation, #password2-validation {
    color: red;
    font-size: 13px;
}

.error {
    color: red;
    font-size: 13px;
}

.register-text {
    margin-top: 20px;
    font-size: 12px;
}



