body
{

    background: url('images/back 2.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center;

    color: white;
    font-family: "Roboto","Helvetica Neue",Verdana,Arial,sans-serif;
    text-align: center;

}


.error {
    color: red;
}

.op {
    color: mediumpurple;
}


h1 {
    text-align: center;

}

.center {
    display: flex;
    justify-content: center;


}
.wrapper {

    background-color: black;
    opacity: .8;
    padding: 20px;
}

.welcome {
    display: inline-block;
}
nav {
    padding-top: 10px;
}

nav ul {
    width:100%;
    margin:0 auto;
    padding: 0px;
    list-style:none;
    background-color:black;
    opacity: .8;
    text-align:center;
    font-family: sans-serif;
}
nav li {
    display:inline-block;

    margin:0;
    padding:0;
}
nav a {
    color: white;
    text-decoration: none;
    text-align:center;
    padding:12px 40px 13px 40px;
    margin:0;

    display:block;
}
nav a:hover {
    background:mediumpurple;

}

nav ul li:first-child a{
    border:none;
}
nav ul li:last-child a {
    border:none;
}