td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;

}


form input[type="text"] {
    width: 100%;
}


#admin-wrapper {
    padding-top: 20px;

}
#user-wrapper {
    background-color: black;
    opacity: .8;
    padding: 10px;

}
#admin-wrapper table {

}

table {
    border-collapse:separate;
    border-spacing:0 5px;
    padding: 10px;


}




tr {
    text-align: center;
    color: white;


}


th {

    padding-left: 10px;
    padding-right: 10px;

}